/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.wrapper {
  width: 85%;
  background-color: #7f7e7e;
  margin: 0 auto;
}
/*begin header*/
.header {
  background-color: #fff;
  display: flex;
  direction: row;
}

.header .logo {
  display: inline-block;
}

.logo img {
  width: 100%;
  height: auto;
}

.header .infor {
  font-size: 12px;
  display: inline-block;
  display: flex;
  align-items: center;
}

.header .infor h1 {
  padding-top: 20px;
}

.navbar {
  background: linear-gradient(rgb(150, 148, 148), rgb(211, 210, 210));
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding-left: 10px;
}

.navbar li {
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  color: black;
}

.navbar li:hover {
  cursor: pointer;
  background-color: #7f7e7e;
  color: rgb(236, 236, 236);
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

/*end header*/
.main {
  width: 100%;
  background-color: #565454;
  overflow: auto;
}
.hotnews {
  width: 100%;
}
.imgnews {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}
.imgnews img {
  width: 100%;
}
.textnews {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}
.title {
  line-height: 30px;
  background-image: linear-gradient(to bottom, #fcd917, #fbea9d);
}

.content {
  color: white;
  background-image: linear-gradient(to bottom right, #989797, #383838);
}

.news {
  clear: both;
}

.item {
  float: left;
  box-sizing: border-box;
  padding: 5px 5px;
}
.item img {
  width: 100%;
}
.frmcomment {
  margin-top: 10px;
  color: white;
}
